{%extends 'base.html'%}
{%block MAIN%}
<main>
<ol>
<h1><mark>注意事項</mark></h1>
繼續註冊前請先閱讀網站版權聲明，使用者於本站註冊即代表同意遵守下列所有項目，不同意者不得註冊。
<li>本網站為交流正向資訊的園地，以端正社會善良風氣並協助取得學習資源為最高宗旨。</li>
<li>發言時必需尊重他人，不得發表毀謗他人、人身攻擊、族群歧視、政治敏感、蓄意挑釁及任何違反法律或善良風俗及之言論。</li>
<li>若有發現違反本站宗旨或偏離主題的言論，站內管理人員有權不經事先告知直接對您的發言做編修或刪除。</li>
<li>不得發表違反著作權之內容，若需引用他人文章或圖片，必需註明出處並取得必要之許可。發文者必須自行遵守相關法規並承擔責任，本站無義務為使用者過濾發文內容或負擔法律責任。</li>
<li>發文者於本站發表之文章，同意供維奇系統為平台的背包攻略所使用，並遵守背包攻略之授權規範。同時發文者同意本站相關人員將其文章彙整編輯為精華文章，除非發文者明確表達反對之意。</li>
<li>您的文章可能透過本站之RSS系統被其他網站引用，或由站方摘要部分文字及照片至外站作為推廣之用。</li>
<li>各版面管理人員有權基於個人主觀判斷進行版面管理，包括修改、編輯、移動、刪除等，對管理人員的處置有所疑義時，請直接向系統管理員反應，使用者於公開版面中討論站務管理問題將視同離題文章處理之。</li>
<li>經系統管理員認定不遵守本站規定或不適應站內文化者，系統管理員有權做出刪除帳號或禁止發表等必要處分。</li>
<li>未經當事人同意不得公佈他人隱私資料於本站，例如姓名、地址、電話等。任何不利於他人之言論與指涉，無論是否屬實，發文者須自負法律責任。</li>
<li>您必須閱讀並同意本站隱私權政策。</li>
<li>本守則得由系統管理員隨時增訂編修，即刻生效並溯及既往，不同意新條文者須於三日內自行刪除於本站內發表之文章。</li>
<li>使用者於本站註冊即代表同意遵守本守則中所有項目，若不同意者不得註冊。</li>
</ol>
<ol>
<h1><mark>免責聲明</mark></h1>
<li>本網站所提供之其他網站連結，均係基於便利性而提供，任何連結均不表示本網站為第三方網站之內容背書，本網站對第三方網站內容不負任何責任。</li>
<li>由使用者公開張貼或私下傳送的資訊、資料、文字、軟體、音樂、音訊、照片、圖形、視訊、信息或其他資料（以下簡稱<mark>使用者內容</mark>），均由提供者自負責任，網站不保證其正確性、完整性或品質。在任何情況下，本網站均不為任何使用者內容負責。</li>
<li>使用者利用本網站公布任何資訊，請自行評估內容之正確性、完整性與合法性。本網站有權移除違反本服務條款、違反社會善良風俗或違反我國法律規定之<mark>使用者內容</mark>，無須事先通知使用者，並不負賠償責任。網站管理者並有權拒絕違反本網站使用規定之使用者後續利用本網站。</li>
<li>使用者在本網站回應文章或留言討論時，請謹慎決定是否公開相關個人資訊，包括電子信箱、電話號碼等，此類資訊可能經由網路傳播而被他人利用，非本網站所能控制，本網站恕不對此負責。</li>
<li>本網站所提供之各項功能，均依該功能當時之現況提供使用，本網站對於其效能、速度、完整性、可靠性、安全性、正確性等，皆不負擔任何明示或默示之擔保責任。</li>
<li>維持密碼及帳號的機密安全，是本網站管理者與使用者共同的責任。當使者的密碼或帳號遭到盜用或有其他任何安全問題發生時，請立即以電子郵件通知本網站資訊人員協助處理。</li>
<li>本網站並不保證本服務之網頁、伺服器、網域等所傳送的電子郵件或其內容不會含有電腦病毒等有害物；亦不保證郵件、檔案或資料之傳輸儲存均正確無誤不會斷線和出錯等，若因各該郵件、檔案或資料傳送或儲存失敗、遺失或錯誤等所致之損害，本網站不負賠償責任。</li>
<li>本網站會記錄使用者上站的IP位址、上網時間以及在網站內所瀏覽的網頁等資料。這些資料係供網站管理之用途，本網站不會對個別使用者進行分析。使用者如利用本網站發生糾紛或訴訟，使用者同意以本網站資料庫所儲存之電子資料為認定標準。</li>
<mark>Copyright © 2018 本網站版權所有</mark>
</ol>
</main>
{%endblock MAIN%}
{%comment%}
<p>

【學員教材下載聲明】
　　中華函授學校遠距學習網數位學習平台（以下簡稱 本平台）係因應海外華僑數位學習需求，而建置之中華函授學校數位教材放置、閱讀及討論空間，並提供教材下載功能，便利學員下載學習。
　　本平台之數位教材因取得來源不同，分為兩類。第一類之教材，其智慧財產權與著作權歸僑委會所有。第二類教材其智慧財產權與著作權由該編寫教材之教師所有。兩類教材皆由智慧財產權與著作權所保護，請學員務必同意以下之條款方可進行下載之行為：
　　第一條　　學員應尊重智慧財產權，不可使用於商業行為。課程教材包含的資訊、文字、圖片、視訊、音訊、作業與解答（以下總稱「資料」）皆受智慧財產權與著作權法保護，本平台之學員於數位學習之合理使用範圍內享有「重製權」與「公開傳輸權」，學員不可將被授與之權利再授權第三人利用。
　　第二條　　使用者應尊重智慧財產權，並不得為下列可能涉及侵害網路智慧財產權之行為：
　　（一）　未經著作權人之同意，將受保護之著作公開於非教學目的之網路。
　　（二）　任意轉載電子佈告欄或其他線上討論區上之文章。
　　（三）　其他可能涉及侵害智慧財產權爭議之行為。
　　第三條　　下載教材如不能順利解壓縮，請查見常見問題區或連絡平台服務人員。
　　第四條　　有下列各款情形之一，本平台得限制或暫時中斷使用者與本平台之帳號：
　　（一）　違反相關法令或本規範之情事者。
　　（二）　涉及國家安全者。
　　（三）　為配合司法機關之調查者。
　　（四）　為阻斷不當或不法行為存續或擴散者。
　　（五）　更新、證移網路設備，測試、維護或檢查網路及相關系統者。
　　（六）　不明原因非中斷不足以排除網路障礙者。
　　第五條　　本平台之使用者違反本規範之行為，依中華函授學校遠距學習網會員規範相關規定處理。
</p>
{%endcomment%}
