{%extends 'base.html'%}
{%load i18n%}
{%block TITLE%}-新增信用卡{%endblock TITLE%}
{%block STYLE%}
<style>
form{width:80%; margin:auto; }
input[type=text]{width:20%; display:flex; margin-top:4px; }
datalists{width:100%; align-items:center; }
datalists div{display:flex; margin-right:2px; }
.end{justify-content: flex-end; }
</style>
{%endblock STYLE%}
{%block SCRIPT%}
<script>
let creditCard=ById('addCreditCard')
creditCard.addEventListener('submit', function(event){
	formdata=new FormData(this)
	xhr.data_sent("{%url 'add-credit-card'%}", formdata)
	xhr.onreadystatechange=function(evt)
		{ if(this.readyState==4 && this.status==200) { rspData=JSON.parse(this.responseText);
			if (rspData.postUpdated)
			{var article=creditCard.nextElementSibling;
			article.insertAdjacentHTML('beforebegin', rspData.ctx);
			creditCard.reset(); } //form.appendChild(article);var article=document.createElement('article');"<div style='color:red'>Messages for password reset sent, please check your mailbox.</div>";
			else console.log('User Not Existed') }
		}
		evt.preventDefault()}, false)
</script>
{%endblock SCRIPT%}
{%block MAIN%}
<main>
<datalists style='justify-content:center'>
<div><h1><mark>使用者本人的信用卡</mark></h1></div>
<img class=picCreadit src={{MEDIA_URL}}images/visa.png>
<img class=picCreadit src={{MEDIA_URL}}images/master.png>
<img class=picCreadit src={{MEDIA_URL}}images/jbc.png>
</datalists>
<form id=addCreditCard method=post validate>    
<datalists>
<div class=end style='flex:3'>請輸入信用卡卡號<br>(半型數字格式)</div>
<div style='flex:8'>
<input type=text size=10 maxlength=4 class=creditNum data-val=true data-val-regex=信用卡格式錯誤 data-val-regex-pattern=^[0-9]{4}$ data-val-required=卡號不可空白 id=CardPart1 name=CardPart1 required> <span class=dash>-</span> <input type=text size=10 maxlength=4 class=creditNum data-val=true data-val-regex=信用卡格式錯誤 data-val-regex-pattern='^[0-9]{4}$' data-val-required=卡號不可空白 name=CardPart2 required> <span class=dash>-</span> <input type=text maxlength=4 class=creditNum data-val=true data-val-regex=信用卡格式錯誤 data-val-regex-pattern='^[0-9]{4}$' data-val-required=卡號不可空白 name=CardPart3 size=10 required> <span class=dash>-</span> <input type=text size=10 maxlength=4 class=creditNum name=Card4No data-val=true data-val-regex=信用卡格式錯誤 data-val-regex-pattern='^[0-9]{4}$' data-val-required=卡號不可空白 required>
</div>
</datalists>
<datalists>
<div class=end style='flex:3'>卡片有效日期</div>
<div style='flex:8'>
<input type=text class=ExpireDate data-val=true data-val-regex=信用卡有效期限格式錯誤 data-val-regex-pattern=^(1?[6-9]|2[0-9]|3[0-9])$ data-val-required=信用卡有效期限(年)請輸入年份 title=請輸入有效年份 maxlength=2 minlength=2 name=AuthExpireDateYY placeholder=YY required><span class=dash>-</span><input type=text class=ExpireDate data-val=true data-val-regex=信用卡有效期限格式錯誤 data-val-regex-pattern=^(0?[1-9]|1[012])$ data-val-required=信用卡有效期限(月)請輸入月份 title=請輸入有效月份 maxlength=2 minlength=2 name=AuthExpireDateMM placeholder=MM>
</div>
</datalists>
<datalists>
<div class=end style='flex:3'><img src={{MEDIA_URL}}images/last3digs.png></div>
<div style='flex:8'><input type=text maxlength=3 title=此欄位為驗證之需不予以記錄 data-val=true data-val-regex=末3碼格式錯誤 data-val-regex-pattern='^[0-9]{3}$' data-val-required=末3碼不可空白 name=AuthCode placeholder=信用卡背後末三碼 required></div>
</datalists>

<datalists>
<div class=end style='flex:3'>身分證字號</div>
<div style='flex:8'><input type=text name=IDNO placeholder=P121*****381 readonly=True style='width:250px' required></div>
</datalists>

<datalists>
<div class=end style='flex:3' title=信用卡別名僅限10個字，可使用符號僅限半型「@」、「-」、「&amp;」及空格(空格不可連續輸入且頭尾不可空格)>信用卡別名<br>(非必填)</div>
<div style='flex:8' title=方便綁定多張信用卡時辨識用> <input type=text maxlength=10 data-val=true data-val-length=長度限制10個字元 data-val-length-max=10 name=Alias placeholder={%trans 'alias'%} required></div>
</datalists>

<datalists>
<div class=end style='flex:3'>是否為預設卡</div>
<div style='flex:4'>是<input checked data-val=true data-val-number=The field IsDefault must be a number. data-val-required=IsDefault 欄位是必要項 name=IsDefault type=radio value=1></div>
<div style='flex:4'>否<input name=IsDefault type=radio value=0></div>
</datalists>
<datalists>
<div class=end style='flex:3'><input checked name=Agree type=checkbox><input name=Agree type=hidden value=false></div>
<div style='flex:8'>我已瞭解並同意將以上資訊，經由台新國際商業銀行或聯邦商業銀行傳輸至信用卡授權轉接處理中心(即財團法人聯合信用卡處理中心或財金資訊股份有限公司)，再傳輸至發卡機構進行身分驗證等相關作業</div>
</datalists>
<button>{%trans 'submit'%}</button>
</form>
<ol><li>目前信用卡自動儲值僅開放<mark>兆豐銀行</mark></li>
<li>信用卡提供綁定之銀行(32家)：<mark>兆豐、花旗、玉山、中信、台新、匯豐、永豐、新光、元大(含大眾)、遠東、凱基、安泰、華南、國泰、日盛、第一、永旺、樂天、陽信、富邦、上海、聯邦、合庫、台企、彰銀、華泰、三信、台中、土地、高雄、台銀、星展(含澳盛)</mark></li> 
<li>簽帳金融卡提供綁定之銀行(5家)：<mark>兆豐、玉山、中信、台新、新光</mark></li> 
<li>綁定信用卡將會進行刷卡驗證卡片有效性，請放心您<mark>無須支付任何費用</mark></li> 
<li>僅支援實體信用卡進行綁定，如使用虛擬信用卡綁定會導致身分驗證失敗(例: 遠東商銀iC虛擬卡號)</li>
<li>信用卡成功交易之否認，如經判定為本人或授權刷卡的行為，相關損失，費用需自行負擔</li></ol>
</main>
{%endblock MAIN%}
{%comment%}
<div class=input_box>{%trans '請輸入台灣發行的信用卡卡號'%}</div>
<div class=alert_box style='display:none'>卡號格式錯誤，請重新輸入</div>
<div>{%trans '信用卡卡號'%}</div>
<div class=input_box>請輸入有效月／年</div>
<span style=font-size: 12px; id=showBankName></span>
<div class=input_box>信用卡有效期限錯誤</div>
{%endcomment%}
