{%load i18n%}
<style>
.dropdown{position:relative; display:inline-block; }
.dropup{background-color:#4CAF50; color:white; padding:16px; font-size:16px; border:none; cursor:pointer; }
.dropdown-content{display:none; position:absolute; background-color:#f9f9f9; min-width:160px; box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2); z-index:1; }
.dropdown-content a{color:black; padding:12px 16px; text-decoration:none; display:block; }
.dropdown-content a:hover{background-color:#f1f1f1; position:relative; }
.dropdown:hover .dropdown-content{display:inline; }
.dropdown:hover .dropup{background-color:#3e8e41; }
</style>

<div class=dropdown>
  {%if user.is_authenticated%}
  <div class=dropup>USER</div>
  <div class=dropdown-content>
    <a href={%url 'logout'%}>{%trans 'LOGOUT'%}</a>
    <a href=#>Link 1</a>
    <a href=#>Link 2</a>
    <a href=#>Link 3</a>
  </div>
  <div class=dropup>{%trans 'LOGOUT2'%}</div>
  <div class=dropdown-content>
    <a href=#>Link 1</a>
    <a href=#>Link 2</a>
    <a href=#>Link 3</a>
  </div>
  {%else%}
  <div class=dropup><a href={%url 'login'%}>{%trans 'LOGIN'%}</a></div>
  <div class=dropdown-content>
    <a href={%url 'signup'%}>{%trans 'signup'%}</a>
    <a href=#>Link 2</a>
    <a href=#>Link 3</a>
  </div>
  {%endif%}
</div>
